*{transition:all 0.3s ease-in-out;}

header {
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: #284243;
}

.justify-content-center {
    border: 2px solid white;
    background-color: #284243;
    margin-top: 20px;
}

ul li{
    display: inline-block; padding:10px;
    font-size:20px; font-family:raleway;
  }

  ul li a {
      color:white;
  }
  
  ul li a:hover{
    color:orange;
    
  }

  .nav-link.active {
      color: orange;
  }

  .section {
      position: absolute;
      top: 500px;

      width: 100%;
 
      
  }

  .div-form {
    position: absolute;
    width: 100%;
    right: 300px;
}

.col-4 img {
    height: 450px;
    width: 100%;
}



  .col.shop img{
      width: 100%;
      height:100%;
      padding: 0px;
      border-radius: 50% 20% / 10% 40%;
  }

  .col.shop img:hover {
    opacity: 0.7;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  
.col:hover .middle {
    opacity: 1;
  }

.text {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 16px 32px;
  }

  .text:hover {
      color: orange;
      cursor: pointer;
  }

.customtext {
    margin-top: 100px;
    margin-left: 15%;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
}

.contactbtn {
    margin-top: 20px;
    margin-left: 35%;
    margin-bottom: 10%;
}

.bouton {
    border: 2px solid #284243;
    border-radius: 30px;
    padding:10px 20px 10px 20px;
    margin-left: 30px;
}

a .bouton {
    font-family: 'Times New Roman', Times, serif;
}

.bouton:hover {
    background-color: #284243;
    color: white;
    transition: .5s ease;

}

.detail > div {
    width:970px;
    height:600px;
    margin-left: 10%;
    background-color: #284243;
    margin-bottom: 100px;
}
.fa {
    display: flex;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    height:20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }


.fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .col-lg-4.col-md-6 {
      color: white;
      
  }

  .buy {
    background-color: orange;
    color:#284243;
    border-radius: 30px;
    padding:10px 20px 10px 20px;
    
    
}

form {
    margin-left: 385px;
    margin-top: 100px;
    margin-bottom: 100px;
}

